/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif, cursive;

}

h1{
  margin: 10px;
  font-family: Shrikhand, sans-serif ;
}

h2{
  font-weight: bold;
}

h5{
  margin: 0px;
}

.padding{
  padding-right: 10px;
}
/***** HEADER *****/


.header{
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 10px lightgray;
}


/**** POSITION  ****/


.section1{
  background-color: #f6f6f6;
}
.position{
  background-color:#eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.position p {
  padding-left: 10px ;
  font-weight: bold;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info1 h2 {
  margin-bottom: 0;
}
.btn{
  color: white;
  padding: 0px 20px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 25px 25px ;
  background: linear-gradient(to bottom right,#FF79DA, #9356DC);
  margin-bottom: 50px;
  box-shadow: 0px 5px 5px rgb(208, 208, 208) ;
}

/* .btn:hover{

} */


/**** FONCTIONNEMENT *****/


.section2{
  margin: 20px;
  padding-top:15px;
}

.fonc1{
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fonc{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgb(208, 208, 208) ;
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 100% ;
  align-items: center;
  position: relative;
  margin-left: 10px;

}

.fonc:hover{
  background-color: #f5edff;
  cursor: pointer;
}

.fonc:hover > .icon{
  color: #9356DC ;
}

.cercle{
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color:#9356DC;
  position: absolute;
  left: -10px;
  top: 20px;

}

.cercle p{
  margin: 0;
  padding-left: 5px;
  color: white;
  font-size: small;
}

.icon{
  margin-left: 20px;
  color: gray;
}

.fonc h4{
  margin-left: 15px;
}

/***** RESTAURANTS ******/

.section3{
  margin: 50px 0px 0px 0px;
  background-color: #f6f6f6;
  padding: 30px 20px 40px 20px;
}

.resto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resto1{
  display: flex;
  border-radius: 15px ;
  flex-direction: column;
  background-color: #fff;
  height: 230px;
  width: 280px;
  box-shadow: 0px 0px 15px #dbdbdb;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.resto_img{
  height: 160px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
}

.resto_txt{
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
}
.resto_txt h4, .resto_txt p {
  margin: 0px 0px 5px 0px;
}

.icon1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.new{
  border-radius: 2px;
  box-shadow: 0px 0px 5px gray;
  background-color: #99E2D0;
  left: 195px;
  top: 13px;
  color:hsl(165, 56%, 40%) ;
  position: absolute;
  height: 20px;
  padding: 3px 10Px;
}


/**** FOOTER ****/

.footer{
  background-color: #353535;
  color: white;
  padding:30px 20px ;
  display: flex;
  flex-direction: column;
}

.footer h2{
  font-family: Shrikhand, sans-serif ;
  font-weight: 400;
  margin: 0px;
  padding-top: 10px;
}

.foot_link{
  display: flex;
  flex-direction: column;
}

.foot_link a {
  padding-top: 10px;
  text-decoration: none;
  color: white;
}









/******** PHONE ********/

@media screen and (max-width:490px) {
  .info1{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .resto1{
    width: 100%;
  }
}