@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/*************   LOADER   ************/


.s_loader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: white;
}

.s_loader.hidden {
  animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
  0%
  {
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    visibility: hidden;
    z-index: 0;
  }
  
}

svg{
  width: 25;
  height:25;
}

.loader{
  position: relative;
  width: 200px;
  height: 200px;
  filter: url(#gooey);
}

.loader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}

.loader span::before{
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 30px#FF79DA;
  background:linear-gradient(to bottom right,#FF79DA, #9356DC);
}

.loader_p{
  font-family: Shrikhand, sans-serif ;
  font-size: 30px;
  transform: translateY(-120px);
}

@keyframes animate {
  0%
  {
    transform:rotate(0deg) ;
  }
  50%,100%
  {
    transform:rotate(360deg) ;
  }
}


/*********    GENERAL     **********/


body{
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif, cursive;

}

h1{
  margin: 10px;
  font-family: Shrikhand, sans-serif ;
}

h2{
  font-weight: bold;
}

h5{
  margin: 0px;
}

.padding{
  padding-right: 10px;
}


/*******    HEADER     ******/


.header{
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 10px lightgray;
}

.arrow{
  transform: scale(1.5);
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  color: #353535;
}


/*******     POSITION     ******/


.section1{
  background-color: #f6f6f6;
}
.position{
  background-color:#eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.position p {
  padding-left: 10px ;
  font-weight: bold;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info1 h2 {
  margin-bottom: 0;
}

.btn{
  color: white;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 25px 25px ;
  background: linear-gradient(to bottom right,#FF79DA, #9356DC);
  box-shadow: 0px 5px 5px rgb(208, 208, 208) ;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(10px);
  transition: 350ms 0ms ease-out
}

.btn_spe{
  padding: 0px 20px;
  margin-bottom: 50px;
}


/******     FONCTIONNEMENT     ********/


.section2{
  margin: 20px;
  padding-top:15px;
}

.fonc1{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fonc{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 10px rgb(208, 208, 208) ;
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 31%;
  align-items: center;
  position: relative;
  margin-left: 10px;
  cursor: pointer;

}

@media screen and (max-width:990px) {
  .fonc1 {
    flex-direction: column;
  }

  .fonc{
    width: 100%;
    margin-bottom: 20px;
  }
}

.fonc:hover{
  background-color: #f5edff;
}

.fonc:hover > .icon{
  color: #9356DC ;
}

.cercle{
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color:#9356DC;
  position: absolute;
  left: -10px;
  top: 20px;

}

.cercle p{
  margin: 0;
  padding-left: 5px;
  color: white;
  font-size: small;
}

.icon{
  margin-left: 20px;
  color: gray;
}

.fonc h4{
  margin-left: 15px;
}


/********       RESTAURANTS       ******/


.section3{
  margin: 40px 0px 0px 0px;
  background-color: #f6f6f6;
  padding: 30px 20px 40px 20px;
}

.resto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.resto1{
  display: flex;
  border-radius: 15px ;
  flex-direction: column;
  background-color: #fff;
  height: 230px;
  width: 280px;
  box-shadow: 0px 0px 15px #aaa8a8;
  margin-bottom: 20px;
  position: relative;
}

.resto1:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 15px #6b6b6b;
  transition: 350ms 0ms ease-out;
}

.resto_img{
  height: 160px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.resto_txt{
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
}
.resto_txt h4, .resto_txt p {
  margin: 0px 0px 5px 0px;
}

.icon2{
  display: flex;
  width: 28px;
}

.icon2 path{
  fill: transparent;
  stroke-width: 30;
  stroke: black;
  cursor: pointer;
}

.icon2:hover path{
  transition: 300ms 0ms ease-in-out;
  fill:url(#my-cool-gradient) #FF79DA;
  stroke: transparent;
}

.new{
  border-radius: 2px;
  box-shadow: 0px 0px 5px gray;
  background-color: #99E2D0;
  right: 15px;
  top: 13px;
  color:hsl(165, 56%, 40%) ;
  position: absolute;
  height: 20px;
  padding: 3px 10Px;
}


/*******     FOOTER     ****/


.footer{
  background-color: #353535;
  color: white;
  padding:30px 20px ;
  display: flex;
  flex-direction: column;
}

.footer h2{
  font-family: Shrikhand, sans-serif ;
  font-weight: 400;
  margin: 0px;
}

.foot_link{
  display: flex;
  flex-direction: column;
}

.foot_link a {
  padding-top: 10px;
  text-decoration: none;
  color: white;
}

.foot_link a:hover{
  text-decoration: underline;
}



/*            RESPONSIVE DESIGN      */



/***** LAPTOP *****/

@media screen and (min-width: 1165px) {
  .resto1{
    width: 24%;
  }
}

/***** TABLET *****/

@media screen and (max-width:1165px) and (min-width: 610px) {
  .resto1{
    width: 49%;
  }
}

/******** PHONE ********/

@media screen and (max-width:610px) {
  .info1{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .resto1{
    width: 100%;
  }
}






/************************ Partie pages *********************/



.p_img{
  object-fit:cover;
  width: 100%;
  height: 350px;
}

.p_section1{
  position: absolute;
  width: 100%;
}

.p_section2{
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 20px 20px 40px 20px;
}

.p_titre{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.p_titre h2 {
  font-style: italic;
  font-size: 28px;
  font-family: Shrikhand, sans-serif ;
  font-weight: 600;
}

.under{
  margin-top: 20px;
}
.under::after{
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}

.p_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p_contenue{
  width: 31%;
}

.p_contenue1{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.p_contenue2{
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0px 0px 15px #dbdbdb;
  cursor: pointer;
  animation: slideDown 1.5s ease-in-out;
  overflow: hidden;
}

.p_contenue2  h3, .p_contenue2 p {
  margin: 0;
  padding: 5px 5px 5px 10px;
}

.p_text{
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p_text h3{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p_text p{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.anim_hover{
  position: relative;
  height: auto;
  width: 55px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0 ;
  margin-right: -55px;
  margin-left: 10px;
  transition-duration: 0.7s;
}

.p_contenue2:hover .anim_hover{
  margin-right: 0px;
}

.p_contenue2:hover i{
  transform: rotate(1turn);
  transition: 450ms 200ms ease-out;
}

.fa-check-circle{
  color: white;
}

.prix{
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  padding-right: 20px;
}

.btn1{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn_spe1{
  padding: 0px 45px;
  margin-bottom: 20px;
}

.relative{
  position: relative;
  top:295px;
}


@media screen and (max-width:900px) {
  .p_img{
    height:250px;
  }

  .p_section2{
    top: 200px;
  }

  .relative{
    top: 200px;
  }

  .p_menu{
    flex-direction: column;
  }

  .p_contenue1, .p_contenue{
    width: 100%;
  }
}



/********* Animation des pages restaurant **********/


@keyframes slideDown {
  from{
    transform: translateY(5px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.d1{
  animation-delay: 0s;
}

.d2{
  animation-delay: 0.1s;
}

.d3{
  animation-delay: 0.2s;
}

.d4{
  animation-delay: 0.3s;
}

.d5{
  animation-delay: 0.4s;
}

.d6{
  animation-delay: 0.5s;
}

.d7{
  animation-delay: 0.6s;
}

.d8{
  animation-delay: 0.7s;
}

.d9{
  animation-delay: 0.8s;
}

.d10{
  animation-delay: 0.9s;
}
